body {
    margin: 10;
    padding: 10;
  }

  .jumbotron {
    height: 600px;
    background: url("../img/alyson-mcphee-yWG-ndhxvqY-unsplash.jpg") center center no-repeat;
    background-size: cover;
    color:white 
  }

.border .border-primary .border-secondary .border-success {
  width: 100%
}

.container {
  width: 100;
}

.container-fluid {
  background-color: whitesmoke;
  box-sizing: border-box;
}
}